.buzzer {
  width: 20%;
  max-width: 12em;
  height: 100%;
  border-radius: 1em;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buzzer > p {
  font-weight: bold;
  font-size: x-large;
  margin: 0;
}

.buzzer.idle {
  background-color: rgb(0, 195, 255);
  box-shadow: 
    inset 5px 5px 20px 2px rgb(136, 227, 255),
    inset -5px -5px 20px 2px rgb(136, 227, 255);
}

.buzzer.buzzed {
  background-color: rgb(0, 255, 0);
  box-shadow: 
    inset 20px 20px 30px 15px rgb(136, 255, 136),
    inset -20px -20px 30px 15px rgb(136, 255, 136);
}

.buzzer.error {
  background-color: rgb(255, 0, 0);
  box-shadow: 
    inset 20px 20px 30px 15px rgb(255, 136, 136),
    inset -20px -20px 30px 15px rgb(255, 136, 136);
}

.buzzer > .score-btns {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.buzzer > .score-btns > .button {
  margin: 0 0 0 0;
}